@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
:root {
  --color-bg-light: #c5e6f6;
  --color-text-light: #020817;
  --color-primary-light: #020817;
  --color-secondary-light: #6c757d;
  --color-accent-light: #00cc99;
  --color-bg-anti-light: #020817;
  --color-bg-2-light: #e7eced;
  --color-bg-3-light: #ffffff;
  --color-bg-solid-light: #ffffff;
  --hero-title-color-light: #7dd3fc;
  --hero-title-color-2-light: #00cc99;
  --hero-title-color-light-rgb: 125, 211, 252;
  --color-shadow-light: linear-gradient(rgba(167, 155, 155, 0.5), rgba(126, 219, 231, 0.7));
  
  --chatbot-chat-widget-bg-color-light:#f6f9fc;
  --chatbot-chat-widget-user-message-bg-color-light:#00cc99;
  --chatbot-chat-widget-system-message-bg-color-light: #ddf1ec; 
  --chatbot-chat-widget-user-message-text-color-light:#f6f9fc;

  --color-shadow-light: rgba(0, 0, 0, 0.1); /* Sombra ligera para modo claro */
  --color-shadow-dark: rgba(0, 0, 0, 0.5); /* Sombra más fuerte para modo oscuro */
  --color-border-light: #e0e0e0; /* Bordes ligeros para modo claro */
  --color-border-dark: #444444; /* Bordes oscuros para modo oscuro */
  --color-bg-footer: #121212;

  --color-bg-dark: #020817;
  --color-text-dark: #f6f9fc;
  --color-primary-dark: #7dd3fc;
  --color-secondary-dark: #6c757d;
  --color-accent-dark: #7dd3fc;
  --color-bg-anti-dark: #f6f9fc;
  --color-bg-2-dark: #6c757d;
  --color-bg-3-dark: #4b3e57;
  --color-bg-solid-dark: #121212;
  --hero-title-color-dark: #7dd3fc;
  --hero-title-color-dark-rgb: 125, 211, 252;
  --hero-title-color-2-dark: #f6f9fc;
  --color-shadow-dark: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));

  --chatbot-chat-widget-bg-color-dark:#020817;
  --chatbot-chat-widget-user-message-bg-color-dark:#7dd3fc;
  --chatbot-chat-widget-system-message-bg-color-dark: #143142; 
  --chatbot-chat-widget-user-message-text-color-dark:#020817;

}



/* Estilos generales para modo oscuro */
[data-theme="dark"] {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-accent: var(--color-accent-dark);
  --color-bg-anti: var(--color-bg-anti-dark);
  --color-bg-2: var(--color-bg-2-dark);
  --color-bg-3: var(--color-bg-3-dark);
  --color-bg-solid: var(--color-bg-solid-dark);
  --color-shadow: var(--color-shadow-dark);
  --color-border: var(--color-border-dark);
  --hero-title-color: var(--hero-title-color-dark);
  --hero-title-color-rgb: var(--hero-title-color-dark-rgb);
  --color-bg-footer: var(--color-bg-footer);
  --hero-title-color-2: var(--hero-title-color-2-dark);


  --chatbot-chat-widget-user-message-bg-color: var(--chatbot-chat-widget-user-message-bg-color-dark);
  --chatbot-chat-widget-system-message-bg-color:var(--chatbot-chat-widget-system-message-bg-color-dark); 
  --chatbot-chat-widget-bg-color: var(--chatbot-chat-widget-bg-color-dark);
  --chatbot-chat-widget-user-message-text-color: var(--chatbot-chat-widget-user-message-text-color-dark);

}

/* Estilos generales para modo claro */
[data-theme="light"] {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);
  --color-bg-anti: var(--color-bg-anti-light);
  --color-bg-2: var(--color-bg-2-light);
  --color-bg-3: var(--color-bg-3-light);
  --color-bg-solid: var(--color-bg-solid-light);
  --color-shadow: var(--color-shadow-light);
  --color-border: var(--color-border-light);
  --hero-title-color: var(--hero-title-color-light);
  --hero-title-color-rgb: var(--hero-title-color-light-rgb);
  --color-bg-footer: var(--color-bg-footer);
  --hero-title-color-2: var(--hero-title-color-2-light);


  --chatbot-chat-widget-user-message-bg-color: var(--chatbot-chat-widget-user-message-bg-color-light);
  --chatbot-chat-widget-system-message-bg-color:var(--chatbot-chat-widget-system-message-bg-color-light); 
  --chatbot-chat-widget-bg-color: var(--chatbot-chat-widget-bg-color-light);
  --chatbot-chat-widget-user-message-text-color: var(--chatbot-chat-widget-user-message-text-color-light);
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* General styles */
body {
  margin: 0;
  padding-top: 60px;
  font-family: 'Work Sans', sans-serif !important;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 1s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--color-text);
}

a {
  color: var(--color-accent);
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Estilos para el botón del widget de chat */
[data-chatbot-chat-widget-button] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9998;
  background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
  background-size: 300% 300%; /* Expande el gradiente para el efecto de movimiento */
  color: var(--color-text);
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  animation: gradientBG 10s ease infinite; /* Aplicar el gradiente en movimiento fluido */
}

[data-chatbot-chat-widget-button] i {
  margin-right: 8px;
  font-size: 22px;
  animation: blink 2s infinite;
}

@media (max-width: 600px) {
  [data-chatbot-chat-widget-button] {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  [data-chatbot-chat-widget-button] i {
    margin-right: 8px;
    font-size: 0;
  }

  [data-chatbot-chat-widget-button]::before {
    content: '\f544 !'; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 22px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(8px, -1.5px);
    animation: blink 2s infinite;
  }
}

/* Definición de la animación parpadeante */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}


/* Detener el zumbido al pasar el ratón sobre el botón */
[data-chatbot-chat-widget-button]:hover {
  background: linear-gradient(1deg, #a80c9b, #7bcff8, #00cc99,);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.3);
  animation: gradientBG 18s ease infinite;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2);
}

/* Efecto de clic */
[data-chatbot-chat-widget-button]:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2); /* Sombra interior */
  animation: none;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
  #chatbot-chat-widget__container {
    max-width: 100vw; /* Ajusta para pantallas más pequeñas */
    max-height: 100vh; /* Ajusta para pantallas más pequeñas */
  }
}
/* Estilos para el contenedor del widget de chat con degradado */
#chatbot-chat-widget__container {
  position: fixed;
  top: calc(20px + 60px); /* Espacio suficiente por encima del botón */
  right: 20px;
  z-index: 9999; /* Asegúrate de que el contenedor del chat esté por encima del botón */
  max-width: 90vw;
  max-height: 90vh;
  box-sizing: border-box;
  box-shadow: var(--chatbot-chat-widget-shadow);
  border-radius: var(--chatbot-chat-widget-border-radius);
  color: var(--chatbot-chat-widget-primary-color-text);
  overflow: hidden;
  display: none; /* Oculta el contenedor por defecto */
}

#chatbot-chat-widget__message a {
  color:var(--color-accent)
}

#chatbot-chat-widget__message {
  color:var(--color-text)
}

/* Cambia el color de los enlaces dentro del widget */
#chatbot-chat-widget__container a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
}


#chatbot-chat-widget__container a:hover {
  text-decoration: underline; /* Opcional: añade subrayado en el hover */
}

#chatbot-chat-widget__submit {
  background-color: var(--color-accent);
}

#chatbot-chat-widget__input:focus {
  border-color: var(--color-accent);
}

.chatbot-chat-widget__title {
  visibility: hidden;
}



/* Estilos para el contenedor de opciones de chat */
#chat-options {
  position: absolute;
  top: 60px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */
  background-color: var(--color-bg-anti);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}


/* Estilo para los botones de opciones */
.chat-option-button {
  display: block;
  background-color: var(--color-accent);
  color: var(--color-bg-anti);
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* Transición suave para el cambio de tema */
html {
  background-color: var(--color-bg);
  transition: background-color 1s ease;
}

/* Asegurar que el fondo se extienda a toda la página */
#root {
  min-height: 100vh;
  background-color: var(--color-bg);
  transition: background-color 1s ease;
}
