/* ChatWidget.module.css */
.chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9998;
    background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
    background-size: 300% 300%;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    animation: gradientBG 10s ease infinite;
  }
  
  .chatButton:hover {
    background: linear-gradient(1deg, #a80c9b, #7bcff8, #00cc99);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
    animation: gradientBG 18s ease infinite;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2);
  }
  
  .chatButton:active {
    transform: scale(0.95);
    background-color: #007d66;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2);
    animation: none;
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  @media (max-width: 600px) {
    .chatButton {
      padding: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 0;
    }
  
    .chatButton::before {
      content: '\f544 !';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(8px, -1.5px);
      animation: blink 2s infinite;
    }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }