/* Variables de color */
@import '../index.css'; 
  
/* Estilos para la sección de Contacto en modo oscuro */
.contacto {
    position: relative;
    padding: 40px 20px;
    background: linear-gradient(to bottom, var(--color-bg-3), var(--color-bg));
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    overflow: hidden;
}


/* Añadido para centrar la imagen y el título en una sola línea */
.contacto-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilo para la imagen del perfil */
.contacto-imagen {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px;
    border-radius: 50%; /* Crea el efecto de círculo */
    margin-right: 20px; /* Espacio entre imagen y título */
    transition: transform 1s ease;
}

/* Estilo para la imagen del perfil */
.contacto-imagen:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
  }


/* Estilo para la imagen del perfil */
.contacto-banner {
    width: 1584px; /* Ajusta el tamaño según sea necesario */
    height: 396px;
    margin-right: 20px; /* Espacio entre imagen y título */
}

/* Estilo para el contenedor del título */
.contacto-titulo {
    text-align: left;
}

/* Estilo para el título */
.contacto-titulo h2 {
    margin: 0;
    color: var(--color-text);
    font-size: 2rem;
}

/* Estilo para la frase en cursiva */
.contacto-frase {
    font-style: italic;
    color: var(--color-text);
    margin-top: 10px;
    transition: transform 1s ease;

}

.contacto-frase:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}


/* Estilos del título de la sección */
.contacto h2 {
    margin: 20px 0; /* Espaciado fijo alrededor del título */
    text-align: center;
    font-size: 3rem; /* Ajusta el tamaño del texto según necesites */
    color: var(--hero-title-color-2);
    position: sticky; /* Fija el título en la parte superior */
    top: 0;
    background-color: transparent; /* Fondo para mantener la legibilidad */
    z-index: 100;
    text-transform: uppercase;
  }

/* Contenido del contacto */
.contacto-contenido {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between; /* Ajuste de distribución */
    margin: 0 auto;
    max-width: 1000px; /* Ajusta el ancho máximo según sea necesario */
}

/* Estilos del formulario de contacto */
.formulario-contacto {
    flex: 2;
    max-width: 500px;
    transition: transform 1s ease;
    width: 100%; /* Ocupará todo el ancho disponible */
}

/* Estilos del formulario de contacto */
.formulario-contacto:hover {
    transform: scale(1.02);
    transition: transform 1s ease;
}


/* Campos de entrada */
.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Reducido el margen inferior entre campos */
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-bg-3) !important; /* Fondo oscuro para los campos */
    color: var(--color-texto);
}

/* Estilos para los botones CTA */
.formulario-contacto button {
    background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
    background-size: 300% 300%;
    animation: gradientBG 10s ease infinite;
    margin-left: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
  }
  
.formulario-contacto button:hover {
background-color: var(--hero-button-hover-bg-color);
transform: translateY(-2px);
box-shadow: 0 6px 8px rgba(0,0,0,0.3);
text-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2);
animation: gradientBG 18s ease infinite;
}

.formulario-contacto button:active {
transform: scale(0.95) !important;
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2);
animation: none;
}



/* Placeholder animación */
.input-container {
    position: relative;
    border-radius: 5px;
    padding: 10px 10px;
}

.input-placeholder {
    position: absolute;
    left: 10px;
    top: 30%;
    color: var(--color-text);
    background-color: var(--color-bg-3);
    pointer-events: none;
    transition: transform 0.2s ease, font-size 0.2s ease;
}

/* Animación especial para el campo Mensaje */
.input-container.special .input-placeholder {
    transform: translateY(-60px); /* Desplazamiento pronunciado para el campo Mensaje */
}


.input-field {
    width: 100%;
    font-size: 18px;
    padding: 5px 0;
    border: none;
    outline: none;
}

.input-field.textarea-field {
    width: 100%;
    height: 150px; /* Ajusta la altura según sea necesario */
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-accent);
    color: var(--color-text);
    resize: vertical; /* Permite redimensionar verticalmente */
    overflow-y: auto; /* Habilita el scroll interno */
    white-space: pre-wrap; /* Mantiene los saltos de línea */
    word-wrap: break-word; /* Rompe las palabras largas para evitar el desbordamiento */
}

.textarea-field {
    height: 150px !important; /* Ajusta la altura del textarea para ser más grande */
    resize: vertical !important; /* Permite redimensionar verticalmente */
    overflow-y: auto !important; /* Habilita el scroll interno */
}


/* Títulos para las categorías */
.info-contacto h3,
.redes-sociales h3,
.agenda-documentos h3 {
    font-size: 20px; 
    font-weight: 700; 
    color: var(--hero-title-color-2);
    margin-top: 10px; /* Más espacio debajo del título */
    border-bottom: 2px solid var(--color-primary); /* Línea fina y elegante debajo */
    padding-bottom: 2px; /* Espaciado entre título y línea */
}

/* Información de contacto */
.info-contacto {
    flex: 1;
    margin-left: 10px;
    width: 100%; /* Para móviles, se apilará debajo del formulario */}

.info-contacto p {
    color: var(--color-text);
}


.info-contacto-links,
.redes-sociales-links,
.agenda-documentos-links {
    display: flex;
    flex-direction: column;
    padding-top: 5px; 
}

.info-contacto-link,
.redes-sociales-link,
.agenda-documentos-link {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 5px 0; 
    margin-bottom: 5px;
    margin-left: 10px; 
}
.info-contacto-link svg ,
.redes-sociales-link svg ,
.agenda-documentos-link svg {
    display: inline-block; /* Asegura que el ícono respete márgenes */
    margin-right: 10px !important; /* Forzar el margen */
    font-size: 20px;
}
.info-contacto-link:hover,
.redes-sociales-link:hover,
.agenda-documentos-link:hover {
    color: var(--color-accent);
    transform: translateX(10px); /* Desplazamiento más elegante a la derecha */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil al hover */
    
}

.info-contacto-link:active,
.redes-sociales-link:active,
.agenda-documentos-link:active {
    transform: scale(0.95); /* Desplazamiento más elegante a la derecha */
}



/* Estilo para el mensaje de éxito y error */
.buttonmessage {
    margin-left: 20px;
}
  

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    /* Cambia la dirección a columna para pantallas más pequeñas */
    .contacto-contenido {
        flex-direction: column;
        gap: 20px;
    }

    .formulario-contacto, .info-contacto {
        max-width: 100%; /* Ocuparán todo el ancho disponible */
        margin: 0; /* Elimina márgenes */
    }

    /* Opcional: Aumentar padding para que se vea más limpio en móviles */
    .contacto {
        padding: 20px 10px;
    }
}