@import '../index.css'; 


/* Estilos para la barra de navegación principal */
.navegacion {
  position: fixed; /* Asegura que la barra esté siempre visible */
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: var(--color-bg); /* Color sólido */
  opacity: 0.7; /* Asegura que no sea transparente */
  transition: background-color 0.3s ease-in-out, opacity 0.5s ease, transform 0.5s ease;
}

.navegacion:hover{
  opacity: 1; /* Asegura que no sea transparente */
  transition: background-color 0.3s ease-in-out, opacity 0.5s ease, transform 0.5s ease;
}


/* Estilo para el logo */
.logo-container {
  flex-shrink: 0; /* Evita que el logo se reduzca en tamaño */
  z-index: 100; /* Para asegurarte de que esté por encima de otros elementos */
}

/* Estilo para el logo dentro de un enlace */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text);
  transition: color 0.3s ease;
  text-decoration: none; /* Elimina el subrayado */
}

.logo:hover {
  transform: scale(1.01) !important;
  color: var(--color-accent);
  text-decoration: none; /* Elimina el subrayado también en hover */
  transition: transform 0.5s ease;
}

/* Asegura que el contenedor también no tenga subrayado si es necesario */
.logo-container a {
  text-decoration: none; /* Elimina el subrayado para enlaces dentro del contenedor */
}


/* Contenido de la barra de navegación */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 60px; /* Ajusta la altura según lo que necesites */
}
/* Estilo de los enlaces de navegación en la barra principal */
.nav-links {
  position: absolute;
  display: flex;
  justify-content:center; /* Centra los enlaces y distribuye el espacio equitativamente */
  align-items: center; /* Alinea verticalmente los enlaces */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
}


.nav-links li {
  margin-left: 15px; /* Espacio entre los elementos de la lista */
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 510;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-accent);
  transform: scale(1.05) !important;
  transition: transform 0.5s ease;

}

.nav-links i:hover {
  color: var(--color-accent);
  transform: scale(1.05) !important;
  transition: transform 0.5s ease;

}
/* Estilo para el enlace "Contacto" */
.nav-contact {
  position: relative; /* Asegura que este elemento no se vea afectado por los estilos globales */
}

.contact-button {
  position: relative;
  z-index: 9999;
  background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
  background-size: 300% 300%;
  color: white !important;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold !important;
  animation: gradientBG 10s ease infinite !important;
}


.contact-button:hover {
  transform: translateY(-2px) !important;
  color: white !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  animation: gradientBG 18s ease infinite;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important; /* Para el botón */
}

/* Sombra para el ícono al hacer hover en el botón */
.contact-button:hover .icon-container::before {
  opacity: 1; /* Muestra la sombra al hacer hover */
}

.icon-container {
  position: relative;
  display: inline-block;
  padding-right: 5px;
}

.icon-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de la sombra */
  border-radius: 50%; /* Bordes redondeados */
  z-index: -1; /* Detrás del ícono */
  filter: blur(4px); /* Desenfoque de la sombra */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave */
}

.contact-button:hover i {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important; /* Asegúrate que se aplique aquí también */
}

.contact-button:active {
  transform: scale(0.95) !important;
  transform: translateY(4px) !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  animation: none;
}

/* Animación de parpadeo */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

/* Animación del gradiente */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Estilos generales para el botón de menú */
/* Estilos generales para el botón de menú */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--color-text);
  margin-left: -5px;
  z-index: 1001;
  position: relative;
  font-weight: bold;
}

.menu-toggle:hover {
  /* Elimina el efecto de escala para evitar problemas de deformación */
  color: var(--color-accent); /* Cambia el color al pasar el ratón */
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 830px) {
  .navegacion {
    opacity: 1; 
  }
  
  .logo-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 25x; /* Ajusta según lo que necesites */
    z-index: 100; /* Para asegurarte de que esté por encima de otros elementos */
  }
  
  .logo {
    font-size: 30px;
  }  
  .menu-toggle {
    display: block;
    position: fixed;
  }

  .contact-button {
    display: none; /* Oculta el botón en su ubicación normal */
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 45%;
    height: 100vh;
    background-color: rgba(18, 30, 52, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
  }

  .nav-links.open {
    left: 0; /* Mostrar el menú cuando se abre */
    padding-top: 40px;
    background-color: var(--color-bg);

  }
  .nav-links li {
    margin-bottom: 45px; /* Espacio entre enlaces */
    margin-left: -20px;
    list-style: none;
  }

  .nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 25px;
    padding-left: 20px;
    display: block;
    width: 100%;
    transition: background 0.3s ease;
  }
  
  .nav-links a:hover {
    transform: scale(1.1);
    color: var(--color-accent); /* Cambia color a azul */
    }

  .nav-links a:active {
    transform: scale(0.95);
    }
  

  .nav-links .contact-button {
    display: block; /* Mostrar el botón dentro del menú desplegable */
    margin: 0px 0;
    font-size: 18px;
    position: static; /* Elimina el posicionamiento fijo para que fluya dentro del menú */
    width: auto;
    text-align: center;
  }

  .nav-links .contact-button {
    margin-left: 20px;
  }

  .fa-comment-dot {
    margin-right: 8px
  }

}
@media (max-width: 666px) {
  .logo {
    font-size: 20px;
    }

  .nav-links .contact-button {
    font-size: 15px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: rgba(18, 30, 52, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
  }
  
  
}


/* CSS */
.language-toggle {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Estilo del triángulo debajo del texto */
.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor; /* El triángulo usa el color del botón */
  margin-top: 5px; /* Espacio entre las siglas y el triángulo */
  transition: transform 0.3s ease, border-color 0.3s ease; /* Transición para la escala y color */
}

/* Efecto hover para cambiar color y escalar un poco */
.language-toggle:hover {
  transform: scale(1.1);
  color: var(--color-accent); /* Cambia color a azul */
}

/* Efecto clic para reducir el tamaño temporalmente */
.language-toggle:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2); /* Sombra interior */
}

