/* Variables de color */
@import '../index.css'; 


.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


/* Responsive */
@media (max-width: 666px) {
  .proyectos-grid {
    grid-template-columns: 1fr;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Contenedor principal del portafolio */
.portafolio {
  position: relative;
  padding: 60px 20px;
  background: linear-gradient(to bottom, var(--color-bg-2), var(--color-bg));
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
}

/* T칤tulo del portafolio */
.portafolio h1 {
  margin: 20px 0; /* Espaciado fijo alrededor del t칤tulo */
  text-align: center;
  font-size: 3rem; /* Ajusta el tama침o del texto seg칰n necesites */
  color: var(--hero-title-color-2);
  position: sticky; /* Fija el t칤tulo en la parte superior */
  top: 0;
  background-color: transparent; /* Fondo para mantener la legibilidad */
  z-index: 100;
  text-transform: uppercase;

  }


.leer-mas {
  font-size: 1rem;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
  z-index: 1;
}

.leer-mas:hover {
  color: var(--color-primary);
}

.leer-mas::before {
  content: '췉';
  margin-right: 5px;
}

.leer-mas::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  transition: width 0.3s ease;
  margin-top: 3px;
}

.leer-mas:hover::after {
  width: 0%;
}

.leer-mas:active {
  transform: translateY(4px); /* Simula el efecto de hundimiento */
}

.contenido-colapsable {
  padding: 10px;
  background: linear-gradient(to top, var(--color-bg-solid), var(--color-bg));
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(41, 36, 36, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-top: -50px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
  font-size: 1rem;
}

.contenido-colapsable.collapsed {
  display: none;
}

.contenido-colapsable.expanded {
  display: block;
  max-height: 500px; /* Ajusta seg칰n el contenido */
  overflow: hidden;
  margin-top: -20px !important; /* Ajusta seg칰n sea necesario */
}

@media (max-width: 666px) {
  .contenido-colapsable {
    margin-top:5px;
    margin-left: 0px;
    margin-right: 0px;
    }
}


/* Contenedor de cada tarjeta de proyecto */
.proyecto-card {
  position: relative;
  padding: 20px;
  background: linear-gradient(to top, var(--color-bg-solid), var(--color-bg));
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: all 0.3s ease;
  min-height: 350px;
  cursor: pointer;
  /* A침ade espacio inferior si se necesita m치s separaci칩n entre tarjetas */
  margin-bottom: 30px; 
}

/* Efecto de brillo en las tarjetas del portafolio */
.proyecto-card::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 40%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0.2) 100%);
  transform: rotate(30deg);
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none; /* Evitar que el efecto interfiera con la interacci칩n */
}

.proyecto-card:hover::after {
  opacity: 1;
  left: -100%;
  top: -100%;
}

/* Aseg칰rate de que la tarjeta de proyecto tenga un overflow hidden para que el brillo no se salga */
.proyecto-card {
  overflow: hidden;
}

.proyecto-card.active .h3 {
  color: var(--color-text);
}
.proyecto-card.active .proyecto-rol {
  color: var(--color-text);
}

.proyecto-card.active .proyecto-descripcion {
  color: var(--color-text);
}


.proyecto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to top, var(--color-bg-3), var(--color-bg-solid));
  
}

.proyecto-card:hover h3 {
  color: var(--color-text) !important;
  transform: scale(1.02);
  transition: transform 1s ease;
}
.proyecto-card:hover .proyecto-rol {
  color: var(--color-text) !important;
  transform: scale(1.02);
  transition: transform 1s ease;

}

.proyecto-card:hover .proyecto-descripcion {
  color: var(--color-text) !important;
  transform: scale(1.02);
  transition: transform 1s ease;
}

.proyecto-card:hover h4 {
  color: var(--color-text) !important;
  transform: scale(1.02);
  transition: transform 1s ease;
}

.proyecto-card:hover ul {
  color: var(--color-text) !important;
  transform: scale(1.02);
  transition: transform 1s ease;
}

.proyecto-card:hover li {
  color: var(--color-text) !important;
  transform: scale(1.02);
  transition: transform 1s ease;
}

/* T칤tulo del proyecto */
.proyecto-card h3 {
  color: var(--color-secondary);
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/* Descripci칩n y roles del proyecto */
.proyecto-rol,
.proyecto-descripcion {
  color: var(--color-secondary);
  margin-bottom: 20px;
  line-height: 1.6;
}


/* Listado de logros y tecnolog칤as */
.proyecto-logros h4,
.proyecto-tecnologias h4 {
  color: var(--color-secondary);
  margin-top: 20px;
  margin-bottom: 10px;
}

.proyecto-logros ul,
.proyecto-tecnologias ul {
  padding-left: 20px;
  color: var(--color-secondary);
}

.proyecto-logros li {
  margin-bottom: 5px;
}

.proyecto-tecnologias li {
  color: var(--color-bg-solid);
  margin-bottom: 5px;
  font-size: 12px;
}

/* Estilos adicionales para proyectos destacados */
.proyecto-card.destacado {
  border: 2px solid var(--color-accent);
  position: relative;
  overflow: hidden;
}

.proyecto-card.destacado::before {
  content: '游 Popular';
  position: absolute;
  top: 10px;
  right: -30px;
  background: var(--color-accent);
  color: white;
  padding: 5px 30px;
  transform: rotate(45deg);
  font-size: 0.8em;
}

/* Contenedor de tecnolog칤as */
.contenedor-tecnologias {
  margin-bottom: 20px; /* Empuja el contenido de abajo */
  min-height: 200px; /* Aumenta la altura m칤nima del contenedor */
}

/* Animaci칩n para tecnolog칤as */
.proyecto-tecnologias li {
  display: inline-block;
  background: var(--color-bg-2);
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.proyecto-tecnologias li:hover {
  background: var(--color-accent);
  transform: translateY(-3px);
  cursor: pointer;
}

.proyecto-tecnologias li:active {
  background: var(--color-accent);
  transform: translateY(-3px) scale(0.95);
  cursor: pointer;
}



/* Contenedor del bot칩n de llamada a la acci칩n */
.proyecto-cta {
  margin-top: 20px; /* Espacio superior del bot칩n CTA */
  bottom: 20px;
  right: 20px;
}

/* Animaci칩n para fade in */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proyecto-card {
  animation: fadeInUp 0.5s ease-out;
}

/* Estilos para los botones CTA */
.cta-button-3 {
  display: inline-block;
  background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.cta-button-3:hover {
  background-color: var(--hero-button-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.3);
  text-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2);
  animation: gradientBG 18s ease infinite;
}

.cta-button-3:active {
  transform: scale(0.95) !important;
  background-color: #007d66;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  animation: none;
}
