/* Variables de color para el banner */
:root {
  --hero-title-color: #ffffff;
  --hero-subtitle-color: #7dd3fc;
  --hero-description-color: #ffffff;
  --hero-button-bg-color: #caba27;
  --hero-button-color: #ffffff;
  --hero-button-hover-bg-color: #7dd3fc;
  --hero-button-active-bg-color: #558094;
}

html {
  scroll-behavior: smooth; /* Asegura que todos los desplazamientos sean suaves */
}

/* Contenedor principal del banner */
.hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #020817, #1a1a1a); /* Degradado oscuro */
  overflow: hidden;
  color: var(--hero-title-color);
  padding: 20px;
}



/* Contenedor de información posicionado debajo del título */
.info-container {
  position: absolute; /* Posiciona el contenedor de manera absoluta respecto al banner */
    /* Ajusta la distancia desde el título (20px + altura del título + margen adicional) */
  width: 100%;
  max-width: 800px;
  text-align: center; /* Alineación del texto en el centro */
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  
}

/* Título del héroe */
.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--hero-title-color);
  margin-bottom: 1rem;
}

/* Subtítulo del héroe */
.hero-subtitle {
  font-size: 1.2rem;
  color: var(--hero-subtitle-color);
  margin-bottom: 1rem;
}

/* Descripción del héroe */
.hero-description {
  font-size: 1rem;
  color: var(--hero-description-color);
  margin-bottom: 1rem;
}

/* Botón de llamada a la acción */
.hero-button {
  background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite; /* Animación del gradiente */
  color: var(--hero-button-color);
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.hero-button:hover {
  background-color: var(--hero-button-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.3);
  text-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2);
  animation: gradientBG 18s ease infinite;
}


.hero-button:active {
  transform: scale(0.95);
  background-color: #007d66; /* Un tono aún más oscuro al hacer clic */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2); /* Sombra interior */
  animation: none;
   
}




/* Indicador de desplazamiento */
.scroll-indicator {
  position: absolute;
  bottom: 60px;
  font-size: 0.9rem;
  color: var(--hero-description-color);
  z-index: 1;
  text-align: center;
  width: 100%; /* Asegura que el texto esté centrado */
  transition: opacity 0.5s ease, transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* Flecha de desplazamiento animada */
.scroll-arrow {
  animation: bounce 2s infinite;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* Hover en el indicador de desplazamiento */
.scroll-indicator:hover {
  color: var(--hero-subtitle-color); /* Cambia el color al hacer hover */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  animation: none;
}

/* Hover en la flecha de desplazamiento */
.scroll-arrow:hover {
  color: var(--hero-subtitle-color); /* Cambia el color al hacer hover */
  transform: scale(1.2); /* Aumenta ligeramente el tamaño */
  animation: none;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

/* Transiciones de opacidad */
.fade-in-content {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out-content {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .hero-banner {
    padding: 10px; /* Menos padding en pantallas pequeñas */
  }

  .info-container {
    position: absolute;
    top: 70px; /* Ajusta la distancia desde la parte superior en pantallas pequeñas */
    width: 100%;
    max-width: 800px;
    text-align: center; /* Alineación del texto en el centro */
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
  }

  .hero-title {
    font-size: 2.5rem; /* Ajusta el tamaño del título */
    margin-top: 0; /* Sin margen superior para mover el título más arriba */
    position: relative; /* Mantén la posición relativa */
    top: -20px; /* Ajuste adicional para mover el título hacia arriba */
  }

  .hero-subtitle {
    font-size: 1.5rem; /* Ajusta el tamaño del subtítulo */
  }

  .hero-description {
    font-size: 1.2rem; /* Ajusta el tamaño de la descripción */
    text-align: center; /* Alinea el texto al centro */
  }
}

/* Efecto de brillo en el texto */
.shiny {
  background: linear-gradient(to right, #ffffff 0%, #7dd3fc 50%, #ffffff 100%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to { background-position: 200% center; }
}

/* Transición de ocultación suave */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Transición de aparición suave */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}