

/* Estilos para la barra de navegación principal */
.navegacion {
  position: fixed; /* Asegura que la barra esté siempre visible */
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: #020817 !important; /* Color sólido */
  opacity: 1; /* Asegura que no sea transparente */
  transition: background-color 0.3s ease-in-out, opacity 0.5s ease, transform 0.5s ease;
}

/* Estilo para el logo */
.logo-container {
  flex-shrink: 0; /* Evita que el logo se reduzca en tamaño */
  z-index: 100; /* Para asegurarte de que esté por encima de otros elementos */
}


/* Estilo para el logo dentro de un enlace */
.logo {
  font-size: 15px;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
  text-decoration: none !important; /* Elimina el subrayado */
}

.logo:hover {
  font-size: 15px;
  font-weight: bold;
  color: #3498db;
  text-decoration: none !important; /* Elimina el subrayado también en hover */
}

/* Asegura que el contenedor también no tenga subrayado si es necesario */
.logo-container a {
  text-decoration: none !important; /* Elimina el subrayado para enlaces dentro del contenedor */
}



/* Contenido de la barra de navegación */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px; /* Ajusta la altura según lo que necesites */
}
/* Estilo de los enlaces de navegación en la barra principal */
.nav-links {
  position: absolute;
  display: flex;
  justify-content:center; /* Centra los enlaces y distribuye el espacio equitativamente */
  align-items: center; /* Alinea verticalmente los enlaces */
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
}


.nav-links li {
  margin-left: 30px; /* Espacio entre los elementos de la lista */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3498db;
}

.nav-links i:hover {
  color: #3498db;
}
/* Estilo para el enlace "Contacto" */
.nav-contact {
  position: relative; /* Asegura que este elemento no se vea afectado por los estilos globales */
}

/* Estilo para el botón de contacto en la barra principal */
.contact-button {
  position: relative;
  z-index: 9999; /* Asegura que esté sobre otros elementos */
  background: linear-gradient(135deg, #a80c9b, #7bcff8, #00cc99);
  background-size: 300% 300%; /* Expande el gradiente para el efecto de movimiento */
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold !important;
  animation: gradientBG 10s ease infinite; /* Animación del gradiente */
}

.contact-button i {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  font-size: 22px; /* Ajusta el tamaño del ícono si es necesario */
  animation: blink 2s infinite; /* Animación de parpadeo */
}

.contact-button i:hover {
  color: white !important; /* Forzar color blanco */
}

/* Efecto hover manteniendo la animación del gradiente */
.contact-button:hover {
  transform: translateY(2px) !important;
  color: white !important; /* Forzar color blanco */
  box-shadow: 0 6px 8px rgba(0,0,0,0.3) !important;
  animation: gradientBG 18s ease infinite !important;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.2) !important;
}

/* Efecto de clic */
.contact-button:active {
  transform: scale(0.95) !important;
  transform: translateY(4px) !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2) !important; /* Sombra interior */
  animation: none !important; /* Detener la animación del gradiente */
}

/* Animación de parpadeo */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

/* Animación del gradiente */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Estilos generales para el botón de menú */
/* Estilos generales para el botón de menú */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  margin-left: -5px;
  z-index: 1001;
  position: relative;
}

.menu-toggle:hover {
  /* Elimina el efecto de escala para evitar problemas de deformación */
  color: #3498db; /* Cambia el color al pasar el ratón */
}


/* Ajustes específicos para dispositivos móviles */
@media (max-width: 925px) {

  .logo-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 25x; /* Ajusta según lo que necesites */
    z-index: 100; /* Para asegurarte de que esté por encima de otros elementos */
  }
  
  .menu-toggle {
    display: block;
    position: fixed;
  }

  .contact-button {
    display: none; /* Oculta el botón en su ubicación normal */
  }

  .nav-links {
    position: fixed;
    top: 40;
    left: -100%; /* Colocar el menú fuera de la vista inicialmente */
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: left 0.3s ease-in-out;
    padding-top: 40px;
    z-index: 1000;
  }

  .nav-links.open {
    left: 0; /* Mostrar el menú cuando se abre */
    padding-top: 40px;
    background-color: #020817;
    
    
  }

  .nav-links li {
    margin-bottom: 20px; /* Espacio entre enlaces */
    list-style: none;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 20px;
    display: block;
    width: 100%;
    transition: background 0.3s ease;
  }
  
  .nav-links a:hover {
    transform: scale(1.1);
    color: #3498db; /* Cambia color a azul */
    }

  .nav-links a:active {
    transform: scale(0.95);
    }
  

  .nav-links .contact-button {
    display: block; /* Mostrar el botón dentro del menú desplegable */
    margin: 20px 0;
    font-size: 18px;
    position: static; /* Elimina el posicionamiento fijo para que fluya dentro del menú */
    width: auto;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .logo {
    font-weight: bold;
    color: white;
    transform: translateY(0px);
  }

  .nav-links li {
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
  }

  .contact-button {
    display: none; /* Oculta el botón de contacto en pantallas pequeñas */
  }
}

/* CSS */
.language-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Estilo del triángulo debajo del texto */
.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor; /* El triángulo usa el color del botón */
  margin-top: 5px; /* Espacio entre las siglas y el triángulo */
  transition: transform 0.3s ease, border-color 0.3s ease; /* Transición para la escala y color */
}

/* Efecto hover para cambiar color y escalar un poco */
.language-toggle:hover {
  transform: scale(1.1);
  color: #3498db; /* Cambia color a azul */
}

/* Efecto clic para reducir el tamaño temporalmente */
.language-toggle:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.2) !important; /* Sombra interior */
}

