/* Estilos para la sección de Navegacion */

.navegacion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  background-color: #020817;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.navegacion.fade-out {
  opacity: 0;
  transform: translateY(-100%);
}

.navegacion.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.navegacion:hover {
  opacity: 1;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  background: transparent;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: transparent;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3498db;
}

/* Estilo para el botón de menú en móvil */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1100;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* Inicialmente fuera de la vista */
    width: 70%;
    height: 100vh;
    background-color: #020817;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-links.open {
    right: 0; /* Menú desliza hacia adentro */
  }

  .nav-links li {
    margin: 20px 0;
  }
}
