/* SobreMi.css */

/* Estilos generales para el contenedor */
.sobre-mi {
  padding: 60px 20px;
}

.sobre-mi h2 {
  text-align: center; /* Alinea el encabezado a la izquierda */
  color: #ffffff;
  margin-bottom: 40px;
}

.contenido-sobre-mi {
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* Asegura que todo el contenido esté alineado a la izquierda */
}

.historia-personal, .experiencia-destacada, .vision-tecnologica {
  margin-bottom: 40px;
}

.sobre-mi h3 {
  color: #7dd3fc;
  margin-bottom: 20px;
  text-align: left; /* Alinea el subtítulo a la izquierda */
}

.sobre-mi h4 {
  color: #00cc99;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left; /* Alinea el título secundario a la izquierda */
}

.sobre-mi p {
  line-height: 1.2; /* Reduce la separación entre líneas */
  color: #ffffff;
  margin-bottom: 10px; /* Reduce el margen inferior entre párrafos */
  text-align: left; /* Asegura que todo el texto esté alineado a la izquierda */
}

/* Efecto de brillo en el texto */
.shiny {
  background: linear-gradient(to right, #ffffff 0%, #7dd3fc 50%, #ffffff 100%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to { background-position: 200% center; }
}

/* Estilos específicos para el gancho emocional */
.gancho-emocional {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem; /* Reduce el margen inferior */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1; /* Reduce aún más la separación entre líneas */
}

.gancho-emocional.shiny {
  background: linear-gradient(to right, #ffffff 0%, #7dd3fc 50%, #ffffff 100%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 3s linear infinite !important;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {

  .gancho-emocional {
      font-size: 2rem;
      margin-bottom: 1.5rem;
  }

  .sobre-mi h2 {
      font-size: 2rem;
      text-align: left;
  }

  .sobre-mi h3 {
      font-size: 1.2rem;
      text-align: left;
  }

  .sobre-mi p {
      font-size: 1rem;
      line-height: 1.2;
      text-align: left;
  }
}
